<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>

  <!-- Title and meta tags
  ================================================== -->
  {% if page.title %}
    <title>{{ site.title }} | {{ page.title }}</title>
    <meta property="og:title" content="{{ site.title | xml_escape }} | {{ page.title | xml_escape }}" />
  {% else %}
    <title>{{ site.title }}</title>
    <meta property="og:title" content="{{ site.title | xml_escape }}" />
  {% endif %}

  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  <script src="{{ "/js/client.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/js/left.js" | prepend: site.baseurl }}"></script>

  <meta name="title" content="Yoella Razili">
  <meta property="og:title" content="Yoella Razili" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="" />
  <link rel="shortcut icon" type="image/x-icon" href="//d3qc4iz22uqshb.cloudfront.net/ba5a1d/1454819395-favicon.ico" />
</head>
